.main-qualification{
width: 70%;
margin: auto;
}



.heading{
    margin-top: 5%;
    text-align: center;

}

.education{
    padding: 10%;
}

.stack{
    padding: 2%;
}
.stack:hover{
    color: white;
    text-shadow: revert;
    background: linear-gradient(to right, #00ffff 0%, #0000ff 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



/* // for  medium screen */
@media  all and (min-width:451px) and (max-width:750px)   {



}




/* // for small screen */
@media  all and (min-width:80px) and (max-width:450px)   {



}